<div class="container  p-3 my-4 d-flex justify-content-center">
  <div class="d-block bg-light rounded-3 p-5">
<h1>Editar <%= @product.name %></h1>

<%= render 'form', product: @product %>

<%= link_to 'Produtos', products_path, class: "btn btn-secondary" %>
 </div>
</div>